# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/package-lock.json
# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json
/access.log


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

access.log
node_modules/
package-lock.json

# System Files
.DS_Store
Thumbs.db
